<!-- ng-controller="LibraryController as Library" -->
<div >
        <form class="form-horizontal" ng-submit="Library.createBook()">
            <fieldset>

              <!-- Form Name -->
              <legend>Add New Book</legend>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">Title</label>
                <div class="col-md-4">
                <input id="title" ng-model="Library.newBook.title" type="text" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">Author</label>
                <div class="col-md-4">
                <input ng-model="Library.newBook.author" type="text" class="form-control input-md">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">Release Date</label>
                <div class="col-md-4">
                <input ng-model="Library.newBook.releaseDate" type="text" class="form-control input-md">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label">Image URL</label>
                <div class="col-md-4">
                <input ng-model="Library.newBook.image" type="text" class="form-control input-md">
                </div>
              </div>

              <!-- Textarea -->
              <!-- <div class="form-group">
                <label class="col-md-4 control-label">Genres (separated by commas)</label>
                <div class="col-md-4">
                  <textarea class="form-control" ng-model="albumsIndexCtrl.newBook.genres"></textarea>
                </div>
              </div> -->


              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label">Save Book</label>
                <div class="col-md-4">
                  <button class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
    <input type="text" class="form-control" ng-model="search.title" placeholder="Search Books">
		<div ng-repeat="book in Library.books | orderBy: 'title' | filter: search">
			<ul class="list-group form-inline">
				<li class="list-group-item">
                  	<h4 class='inline-header'>Title:</h4>
                    <span><a ng-href="books/{{book._id}}">{{book.title}}</a></span>
                </li>

                <li class="list-group-item">
                  	<h4 class='inline-header'>Author:</h4>
                    <span>{{book.author}}</span>
                </li>

                <li class="list-group-item">
                    <h4 class='inline-header'>Release Date:</h4>
                    <span>{{book.releaseDate}}</span>
                </li>
                <img src={{book.image}} width="100px" height="150px">
			</ul>
		</div>
	</div>