/*
  Site Name: GA Project 1 - Web Development Project Management App
  Site URI: https://secret-cove-35771.herokuapp.com/
  Description: Web Dev Project Management (Express API App)
  Author: Bill Cheng & Kenneth Bushman
  Version: 1.0
*/


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

/* Links
--------------------------------------------- */

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  color: #337ab7;
  text-decoration: underline;
}

/* Alignment
--------------------------------------------- */

.align-left {
  float: left;
  padding: 0;
  margin: 0 15px 20px 0;
}

/* Float Fix
--------------------------------------------- */

.float-fix {
  width: 100%;
  overflow: hidden;
}



/* Typography
--------------------------------------------- */

strong {
  font-weight: 700;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 1.6;
  padding: 0;
  margin: 0 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 0 20px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}


 /* Layout
--------------------------------------------- */
 
.container {
  background :#fff;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  overflow: hidden; 
 }

 .wrap {
  background: #fff;
  max-width: 800px;
  padding: 40px 0 0;
  margin: 0 auto;
 }

 .all-books-ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 30px;
 }

 .all-books-ul li {
  padding: 0;
  margin: 0;
 }

 /* Media Queries
--------------------------------------------- */

@media only screen and (max-width: 480px) {

  header h1 {
    font-size: 28px;
    line-height: 1.4;
    font-weight: 600;
    text-align: center;
    word-spacing: 1px;
  }

}
